.layout {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;

  &__header {
    display: flex;
  }
  &__sidebar {
    width: fit-content;
    height: 100%;
  }
  &__content {
    width: 100%;
    height: 100%;
  }
}
