.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  &__header {
    display: flex;
  }

  &__mainframe {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;

    &__sidebar {
      width: fit-content;
      height: 100%;
    }
    &__content {
      width: 100%;
      height: 100%;
    }
  }
}
